/* Küçük cihazlar (telefonlar, 600px ve aşağısı) */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    #cat {
        margin-left: 0;
        width: 100%;
    }

    #logo-box .logo, #nav-links .nav-link {
        font-size: 2rem;
    }

    .baslik, button {
        font-size: 1.5rem;
    }
}

/* Orta boy cihazlar (tabletler, 768px ve aşağısı) */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    #cat {
        margin-left: 0;
        width: 100%;
    }

    #logo-box .logo, #nav-links .nav-link {
        font-size: 2.5rem;
    }

    .baslik, button {
        font-size: 2rem;
    }
}

/* Büyük cihazlar (dizüstü bilgisayarlar, 992px ve aşağısı) */
@media only screen and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 30px;
    }

    #cat {
        margin-left: 0;
        width: 100%;
    }

    #logo-box .logo, #nav-links .nav-link {
        font-size: 3rem;
    }

    .baslik, button {
        font-size: 2.5rem;
    }
}

html {
    font-size: 8px;
}


body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.50;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5;
    padding-right: 0.5;

}


.clearfix::after {
    content: "";
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-uppercase {
    text-transform: uppercase;
}



/*Navbar*/

nav {
    font-family: Montserrat;
    background-color: #222831;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 50px;

}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    padding: 1.4rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #1abc9b;
}

/*header*/
header {
    background-color: #EEEEEE;
}

.baslik {
    background-color: #76ABAE;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

/*main*/
main {
    background-color: #EEEEEE;
}

#cat {
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-top: 50px;
    width: 500px; 
    height: 400px; 
}

#cat img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 76px;
}

button{
    padding: 10px 20px;
    font-size: 2rem;
    color: #76ABAE;
    background-color: #222831;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: color 0.4s;
}

button:hover {
    background-color:darkslategray;
}



/*footer*/

footer {

    background-color: #222831;
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}