

html {
    font-size: 8px;
}


body {
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.50;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5;
    padding-right: 0.5;

}


.clearfix::after {
    content: "";
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.text-uppercase {
    text-transform: uppercase;
}



/*Navbar*/

nav {
    font-family: Montserrat;
    background-color: #222831;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 50px;
    
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    display: block;
    padding: 1.4rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #1abc9b;
}

/*header*/
header{
    background-color: #EEEEEE;
}

.baslik {
    background-color:#76ABAE;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: Montserrat; 
    font-size: 1.4rem; 
    font-weight: 700; 
    letter-spacing: 0.1rem; 
}

/*main*/
main {
    background-color: #EEEEEE;
}

p { 
    font-family: "Oswald", sans-serif; 
    font-size: 2.3rem;
    color: #222831;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-box {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 200px;
    margin-top: 20px;
    margin-right: 200px;
}

.main-box h1 {
    font-family: "Montserrat", sans-serif;
     text-align: center;
     font-weight: 700;
    font-size: 3.5rem;
    color: #222831;
    padding-top: 10px;
}


.main-box img {
    width: 1000px;
    height: auto;
    border-radius: 10px;

}

.dropdown{
    padding-top: 20px;
    position: fixed;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #76ABAE;
    color: #fff;
    font-size: large;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 0.1rem;
}
.dropdown-item {
    border-radius: 10px;
}

.nav-link .fas:hover {
    color: #76ABAE;
}






/*footer*/

footer {
    
    background-color: #222831;
    color: #fff;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}